
.page-footer {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  outline: 1px solid red;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.page-footer__address {
  width: 100%;
}

.page-footer__bottom {
  outline: 1px solid blue;
  padding: 40px 20px 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 60px;
  }
}

.page-footer__logo {
  display: block;
  outline: 1px solid orange;
  text-align: center;
  width: 100;
}
