
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
.promo {
  background: url("../../../../img/index-background-desktop@1x.jpg") no-repeat center center #6bb942;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #ffffff;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
}

.promo__link-btn {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid red;
}
