
.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 210px;
  margin-top: -1px;
  padding: 0px 20px 25px;
  outline: 1px solid green;
  box-sizing: border-box;
  border-top: 1px solid #ededed;

  @media (min-width: @tablet-width) {
    flex-basis: 324px;
    margin-bottom: 60px;
    padding: 40px;
    background-color: #f2f2f2; /* !!! */
  }

  @media (min-width: @desktop-width) {
    flex-basis: 245px;
  }
}

.product__image {
  outline: 1px solid blue;


  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.product__info {
  width: 50%;
  outline: 2px solid green;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.product__title {
  outline: 1px solid blue;
  margin: 21px 0 15px;
  padding-right: 50px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: center;
  }
}

.product__characreristics {
  width: 100%;
  outline: 1px solid blue;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;

  tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  td {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.product__link-btn {
  width: 100%;
  display: block;
  padding: 10px 0;
  color: #ffffff;
  background-color: #68b738;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
