
.products {
  width: @mobile-width;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 40px;
  }
}

.products__title {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  margin: 13px 20px 29px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    margin: 50px 0 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 68px 0 20px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
