
.principles {
  margin: 20px;
}

.principles__title {
  font-family: "Oswald", sans-serif;
  color: #111111;
  font-size: 36px;
  font-weight: normal;
}

.principles__list {
  list-style: none;
  padding-left: 80px;
}

.principles__item {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}
