.address {
  border: 1px solid red;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
}

.address__invite {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.address__coordinates {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
