
.show-more {
  box-sizing: border-box;
  outline: 1px solid green;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 245px;
  }
}

.show-more__title {
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.show-more__description {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
}

.show-more__btn {
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding: 12px 0;
}
